<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <!-- <div class="dashboard-container"> -->

    <div class="sidebar">
    <img id="logo" class="sidebar-logo-black" alt="GymVerse Logo" />
    <div class="sidebar-header">
        <div class="app-icon">
          <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" /></svg>
        </div>
    </div>
    <hr class="sidebar-divider">
    <ul class="sidebar-menu">
        <li><a data-page="adminHome" id="adminHome"><i class="fas fa-home"></i> Home</a></li>
        <li><a data-page="accounts" id="accounts"><i class="fas fa-users"></i>Accounts</a></li>
        <li><a data-page="notices" id="notices"><i class="fas fa-utensils"></i>Notices and Jobs</a></li>
        <li><a data-page="paymentStatus" id="paymentStatus"><i class="fas fa-receipt"></i> Payment Status</a></li>
      </ul>
      
    </div>

  <!-- </div> -->

</body>
</html>
