<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

  <div class="sidebar">
    <img id="logo" class="sidebar-logo-black" alt="GymVerse Logo" />
    <div class="sidebar-header">
        <div class="app-icon">
          <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" /></svg>
        </div>
    </div>
    <hr class="sidebar-divider">
    <ul class="sidebar-menu">
        <li><a data-page="adminHome" id="adminHome"><i class="fas fa-home"></i> Home</a></li>
        <li><a data-page="accounts" id="accounts"><i class="fas fa-users"></i> Accounts</a></li>
        <li><a data-page="jobsAndNotices" id="jobsAndNotices"><i class="fas fa-dumbbell"></i> Trainer Jobs</a></li>
        <li><a data-page="gymNotices" id="gymNotices"><i class="fas fa-bullhorn"></i> Gym Notices</a></li>
        <li><a data-page="paymentStatus" id="paymentStatus"><i class="fas fa-receipt"></i> Payment Status</a></li>
        <li><a data-page="cashPayments" id="cashPayments"><i class="fas fa-money-bill-wave"></i> Cash Payments</a></li>
        <li><a data-page="systemConfig" id="sysConfig"><i class="fas fa-cogs"></i> System Config</a></li>
        <li><a data-page="systemHistory" id="sysHistory"><i class="fas fa-history"></i> System History</a></li>
        <li><a id="my-account" data-page="myAcnt"><i class="fas fa-user"></i> My Account</a></li>
        <li><a id="sign-out" style="color: #6C757D"><i class="fas fa-right-from-bracket"></i> Sign out</a></li>
    </ul>
  </div>

</body>
</html>
