<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <!-- <div class="dashboard-container"> -->
    <!-- Sidebar -->
    <div class="sidebar">
    <img id="logo" class="sidebar-logo-black" alt="GymVerse Logo" />
    <div class="sidebar-header">
        <div class="app-icon">
          <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" /></svg>
        </div>
    </div>
    <hr class="sidebar-divider">
      <ul class="sidebar-menu">
        <li><a id="home" data-page="trainerHome"><i class="fas fa-home"></i> Home</a></li>
        <li><a id="assigned-members" data-page="assignedMembers"><i class="fas fa-user-friends"></i> Assigned Members</a></li>
        <li><a id="meal-plans" data-page="createMealPlans"><i class="fas fa-utensils"></i>Create Meal Plans</a></li>
        <li><a id="workout-plans" data-page="createWorkoutPlans"><i class="fas fa-dumbbell"></i>Create Workout Plans</a></li>
        <li><a id="plan-requests" data-page="planRequests"><i class="fas fa-file-alt"></i>Plan Requests</a></li>
        <li><a id="class-schedule" data-page="classSchedule"><i class="fas fa-calendar-alt"></i>Class Scheduling</a></li>
        <li><a id="my-account" data-page="myAcnt"><i class="fas fa-user"></i>My Account</a></li>
        <li><a id="sign-out" style="color: #6C757D"><i class="fas fa-right-from-bracket"></i>Sign Out</a></li>
      </ul>
    </div>
        
      </div>
    </div>
  <!-- </div> -->
</body>
</html>
