<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="nav-bar">
      <div class="frame">
        <img id="logo" class="logo-black" src="../assets/images/logo-black-transparent.png" alt="GymVerse Logo" />
        <div class="div">
          <div class="group"><div id="services" class="text-wrapper">Services</div></div>
          <div class="div-wrapper"><div id="about" class="text-wrapper-2">About Us</div></div>
          <div class="group-2"><div id="find-trainer" class="text-wrapper-3">Find a Trainer</div></div>
          <div class="group-3"><div id="pricing" class="text-wrapper-4">Pricing</div></div>
          <div class="group-4"><div id="careers" class="text-wrapper-5">Careers</div></div>
        </div>
      </div>
      <div class="frame-2">
        <div class="overlap-group-wrapper">
          <div class="overlap-group">
            <div id="login" class="text-wrapper-6">Log In</div>
            <div class="rectangle"></div>
          </div>
        </div>
        <div id="member" class="become-a-member"><div class="text-wrapper-7">Become a Member</div></div>
      </div>
    </div>

  </body>
</html>
