<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <footer class="footer">
        <div class="footer-content">
          <div class="footer-main">
            <h2 class="footer-logo">GymVerse</h2>
            <nav class="footer-nav">
              <ul class="footer-nav-list">
                <li><a href="#help">Help center</a></li>
                <li><a href="#info">Information for candidates</a></li>
                <li><a href="#sitemap">Sitemap</a></li>
              </ul>
              <ul class="footer-nav-list">
                <li><a href="#legal">Legal stuff</a></li>
                <li><a href="#careers">Careers</a></li>
                <li><a href="#hiring">Hiring!</a></li>
              </ul>
              <ul class="footer-nav-list">
                <li><a href="#blog">Blog</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#privacy">Privacy policy</a></li>
              </ul>
            </nav>
          </div>
          <!--<div class="footer-bottom">
            <div class="social-icons">
              <a href="#" class="social-icon"><img src="https://cdn.builder.io/api/v1/image/assets/TEMP/b0ff95e5d28bc651ba87e0751c9ba6d315a0711388080b1a3a8716e058566daa?placeholderIfAbsent=true&apiKey=015e1c54eb5347dfb8c175d60fbc5fdf" alt="Social media icon" class="icon"></a>
              <a href="#" class="social-icon"><img src="https://cdn.builder.io/api/v1/image/assets/TEMP/3c852deaeb1563cd3b665edb683ee0bb5af7a07c8f4b37d275c24c37ab3477b7?placeholderIfAbsent=true&apiKey=015e1c54eb5347dfb8c175d60fbc5fdf" alt="Social media icon" class="icon"></a>
              <a href="#" class="social-icon"><img src="https://cdn.builder.io/api/v1/image/assets/TEMP/f302c5f1397c0c9651fa0f7386df70c2c0a0e058df77ed2ea564635e16b8192a?placeholderIfAbsent=true&apiKey=015e1c54eb5347dfb8c175d60fbc5fdf" alt="Social media icon" class="icon"></a>
              <a href="#" class="social-icon"><img src="https://cdn.builder.io/api/v1/image/assets/TEMP/531ad6311e0e4a1269c8e6f49212884bc096e30b1c4a9c56c8c1601cdfcfee17?placeholderIfAbsent=true&apiKey=015e1c54eb5347dfb8c175d60fbc5fdf" alt="Social media icon" class="icon"></a>
            </div>
            <p class="copyright">© 2024 ExamEase. All rights reserved.</p>
          </div>-->
        </div>
      </footer>
  </body>
</html>
