/* Reset some basic elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styling */
  body {
    font-family: 'Poppins', sans-serif; /* Global font family */
    background-color: #ffffff; /* Light grey background for the whole page */
    color: #333; /* Default text color */
    line-height: 1.6; /* Improved readability */
  }
  
  /* Utility classes */
  .mt-1 {
    margin-top: 0.25rem;
  }
  
  .mb-1 {
    margin-bottom: 0.25rem;
  }
  
  .text-center {
    text-align: center;
  }
  
  /* Variables for colors */
  :root {
    --primary-color: #ff5f00;
    --secondary-color: #ffffff;
    --text-color: #000000;
    --bg-color: #ffffff;
  }

  .dashboard-container {
    display: flex;
    width: 100%;
    font-family: 'Poppins', sans-serif;
  }

  #sidebar-container {
    font-family: 'Poppins', sans-serif;
    width: 270px;
    overflow-y: auto;
  }

  .content {
    flex-grow: 1;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    overflow-y: auto;
  }
  
  #content-area {
    background-color: #ffffff;
    border-radius: 5px;
  }
  
  