/* style.css */


.content {
    display: flex;
    flex-direction: column;
    width: 80%;
    border-collapse: collapse;
  }
  
  .table-container {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
  }
  
  .table-container table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0; /* Removes spacing between cells if needed */
    border-radius: 10px; /* Adjust the radius as desired */
    overflow: hidden; /* Ensures corners stay rounded if there’s content overflow */
    box-shadow: 0px 4px 10px rgba(15, 15, 15, 0.1); /* Optional shadow for a softer look */
  }
  
  th, td {
    padding: 12px;
    border: 1px solid #ffffff;
    text-align: left;
    border-right: 1px solid #e0e0e0;
  }
  
  /* Remove the right border from the last cell in each row to avoid double border */
  .table-container tr th:last-child, .table-container tr td:last-child {
    border-right: none;
  }
  
  /* Optional: Add a bottom border for row dividers */
  .table-container tr td {
    border-bottom: 1px solid #e0e0e0; /* Light border between rows */
  }
  
  th {
    background-color: #ffffff;
    font-weight: 500;
    text-align: center;
  }
  
  td {
    text-align: center;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table-container tr {
    border: 1px solid #e0e0e0; /* Light border around each row */
    border-radius: 8px; /* Optional: rounded corners on each row */
  }
  
  tbody {
    border-radius: 8px;
  }
  
  tbody tr:hover {
    background-color: #f2f2f2;
  }
  
  #attendanceTable tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .header {
    text-align: left; /* Center the text content */
    margin: 0 auto; /* Center the entire header block */
    padding: 20px; /* Add some padding to the header for spacing */
    margin-top: 30px;
  }
  
  .heading {
    font-size: 35px; /* Set font size for heading */
    font-weight: 600; /* Set font weight to bold for emphasis */
    font-family: 'Poppins', sans-serif; /* Use Poppins font */
    color:  #333;
  }
  
  .header, .table-container, .add-equipment-container {
    width: 100%; 
    margin-left: 50px; 
    padding-left: 0;
  }
  
  