<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <!-- <div class="dashboard-container"> -->

    <div class="sidebar">
    <img id="logo" class="sidebar-logo-black" alt="GymVerse Logo" />
    <div class="sidebar-header">
        <div class="app-icon">
          <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" /></svg>
        </div>
    </div>
    <hr class="sidebar-divider">
    <ul class="sidebar-menu">
        <li><a data-page="ownerHome" id="home"><i class="fas fa-home"></i> Home</a></li>
        <li><a data-page="gymMembers" id="gym-members"><i class="fas fa-users"></i> Gym Members</a></li>
        <li><a data-page="trainers" id="trainers"><i class="fas fa-chalkboard-teacher"></i> Trainers</a></li>
        <li><a data-page="staff" id="staff"><i class="fas fa-user-tie"></i> Staff</a></li>
        <li><a data-page="financialOver" id="financial-overview"><i class="fas fa-dollar-sign"></i> Financial Overview</a></li>
        <li><a data-page="memberPlans" id="membership-plans"><i class="fas fa-id-card"></i> Membership Plans</a></li>
        <li><a data-page="analytics" id="analytics"><i class="fas fa-chart-bar"></i> Analytics </a></li>
        <li><a id="my-account" data-page="myAcnt"><i class="fas fa-user"></i>My Account</a></li>
        <li><a id="sign-out" style="color: #6C757D"><i class="fas fa-right-from-bracket"></i>Sign out</a></li>
      </ul>
      
    </div>
  <!-- </div> -->
</body>
</html>
